* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One', sans-serif;
}

.header{
    margin: auto;
    width: 100%;
}

ul {
    list-style: none;
}

.nav li a{
    background-color: royalblue;
    color: cornsilk;
    text-decoration: none;
    padding: 8px;
    width: 160px;
    text-align: center;
    display:block;  /*IMPORTANTE*/
    border: 1px solid royalblue;
}
.nav li a:hover{
    background-color: cornflowerblue;
    color: white;
    border: 1px solid white;

}

.nav > li{
    float: left;

}

.nav li ul{
    display: none;
    position: absolute;
}

.nav li:hover>ul{
    display: block;

}

.nav li ul li{
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}